{% extends 'homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
			<!-- Start Bradcumb Area -->
			<div class="bradcumb-area blog-1 overlay-bg-5">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<!-- Start bradcumb -->
							<div class="bradcumb text-center">
								<h3>Blog Grid View</h3>
								<ul>
									<li><a href="#">Home</a></li>
									<li>Blog Grid View</li>
								</ul>
							</div>
							<!-- End bradcumb -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Bradcumb Area -->
			<!-- Start Blog  Area -->
			<div class="blog-area pt-90">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="blog-top-bar">
								<div class="blog-grid-top-bar">
									<div class="blog-grid-tow">
										<!-- Start search widget -->
									    <form class="blog-shearch-form mb-0" action="#">
		                        			<input class="form-control" placeholder="Search Here" type="text">
		                        			<button class="submit" type="submit"><i class="fal fa-search"></i></button>
		                    		    </form>
										<!-- End search widget -->
									</div>
									<div class="blog-grid-one dn-small">
										<select class="form-select" aria-label="Default select example">
										  <option selected>Select Adventure Type</option>
										  <option value="1">One</option>
										  <option value="2">Two</option>
										</select>
									</div>
									<div class="blog-grid-three dn-small">
										<select class="form-select" aria-label="Default select example">
										  <option selected>Select Price</option>
										  <option value="1">One</option>
										  <option value="2">Two</option>
										</select>
									</div>
								</div>
								<div class="grid-blog">
									<ul>
										<li><a href="#"><i class="fal fa-th"></i></a></li>
										<li><a href="#"><i class="fal fa-list-ul"></i></a></li>
									</ul>
								</div>
							</div>
							<!-- Start Blog Post -->
							<div class="single-blog-post-wrap grid isotope_wrap">
								<div class="row">
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g1.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">The Only Beach Packing List You’ll Ever Need</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>We here at Outdoor Adventures believe that the great outdoors is an excellent place for Michigan families to spend quality time together. We make it our goal to provide the very best surroundings, amenities.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g2.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Surviving The World’s Most Dangerous Hike</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>It doesn’t matter if it’s just for a day or for an entire week… check out this beach packing list and you’re sure to show up prepared. There’s something rejuvenating about soaking up the sun, swimming in the ocean, and basking in the sea breeze. If you live close enough to a beach that you can take a day trip, you’re one of the lucky ones. All you have to do is pack up your car and go! But it’s still important to make sure you have everything you need for the day so that you don’t have to turn around if you’ve forgotten something.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g3.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Greece By land And Sea: Find Your Ideal AdVenture</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>Greece is blessed with natural beauty, idyllic settings, tasty bites and very welcoming people. With so much on offer and thousands of islands dotting its landscapes, it’s easy to see why it remains a perennial favourite. But where to start?</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g4.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Cruise Through Our Insta-Worthy European Sailing </h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>Set a course for your next adventure with inspiration from our Instagram posts featuring Croatia, Greece and Greenland marine adventures. No matter how far inland we live, there’s something about the sea that calls to us.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g5.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">The Only Beach Packing List You’ll Ever Need</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>Set a course for your next adventure with inspiration from our Instagram posts featuring Croatia, Greece and Greenland marine adventures. No matter how far inland we live, there’s something about the sea that calls to us.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g6.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Think You’ve Seen And Done Europe’s Holiday Hotspots? </h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>It’s time to go beyond the tourist traps to reconsider some of Europe’s most beloved destinations. They’re popular for a reason — but we want to show you a whole other side simply by lacing up your hiking boots. New views are a given but you'll also gain fresh perspective.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g7.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">How To Photograph The Northern Lights</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>Destinations like Iceland and Norway’s northern regions offer some of the best options. Although the lights are always on display in these parts of the world, the almost-never-setting sun of summertime means they aren’t visible to the naked eye. Look to travel.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g8.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Sailing Greece: The Ultimate Island Hopping Experience</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>Sailing is a whole new world of travel; suddenly, the travel time on a trip that was once an inconvenience becomes a highlight. In between islands you glide through the bluest of waters, feel the warm breeze on your skin, and get views of the islands.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
									<div class="col-lg-4 col-sm-6 isotope_item">
										<!-- Start single blog post -->
										<div class="single-blog-post">
											<!-- Start blog post thumbnail -->
											<div class="post-thumbnail">
												<img src="{% static 'img/post/g9.jpg' %}" alt="">
											</div>
											<!-- End blog post thumbnail -->
											<div class="single-post-content-thumb">
												<!-- Start post meta -->
												<div class="post-meta">
													<span><i class="fal fa-clock"></i>Sep 11, 2024</span>
													<span><i class="fad fa-user"></i>Liza De</span>
													<span><i class="fal fa-comments"></i>12</span>
												</div>
												<!-- End post meta -->
												<!-- start entry header -->
												<div class="entry-header">
													<a href="#"><h2 class="entry-title">Five Things You Probably Didn’t Know About Trekking</h2></a>
												</div>
												<!-- end entry header -->
												<!-- Start entry content -->
												<div class="entry-content">
													<p>If you’re reading this post, you probably already know a few things about Trekking Mont Blanc. After all, it is one of the most famous treks in the world. It’s challenging, incredibly scenic, and offers.</p>
													<a href="#" class="btn more">Read More <i class="fal fa-angle-right"></i></a>
												</div>
												<!-- End entry content -->
											</div>
										</div>
										<!-- End single blog post -->
									</div>
								</div>
							</div>
							<!-- End Blog Post -->
							<!-- Start Pagination -->
							<div class="gane-pagination mt-30 text-center">
								<ul>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
								</ul>
							</div>
							<!-- End Pagination -->
						</div>
					</div>
				</div>
			</div>
			<!-- End End Blog Area -->
			<!-- Start Partner Area -->
			<div class="partner-area pt-100 pb-220">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">Our Partners</p>
								<h2>We team up with the best to give you <span></span> an unmatchable experience</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="partner-wrap owl-carousel">
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/1.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/1-1.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/2.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/2-2.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/3.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/3-3.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/4.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/4-4.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/5.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/5-5.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="{% static 'img/partner/6.jpg' %}" alt="">
									<img class="top" src="{% static 'img/partner/6-6.jpg' %}" alt="">
								</div>
								<!-- End single partner -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Partner Area -->
			<!-- Start Copyright Area -->
			<div class="copy-right-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<!-- Start payment -->
							<div class="copy-payment">
								<ul>
									<li><a href="#"><img src="{% static 'img/payment/1.png' %}" alt=""></a></li>
									<li><a href="#"><img src="{% static 'img/payment/2.png' %}" alt=""></a></li>
									<li><a href="#"><img src="{% static 'img/payment/3.png' %}" alt=""></a></li>
									<li><a href="#"><img src="{% static 'img/payment/4.png' %}" alt=""></a></li>
								</ul>
							</div>
							<!-- End payment -->
						</div>
						<div class="col-sm-6">
							<!-- Start copyright text -->
							<div class="copyright-text">
								<p>© 2024 AdventureGene.com All rights reserved.</p>
							</div>
							<!-- End copyright text -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Copyright Area -->

		</div>
        <!-- End Wrapper -->
			<!-- all js here -->

			{% include 'include/footer.html' %}
			{% endblock %}